@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    color: #00133f;
    animation: fade-in 2s ease;
}
 .applicationBlock{
    width: 75%;
    padding: 30px 50px 50px;
    margin: 0px auto;
}
.applicationFormWrapper{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}
.row {
    display: block;
    width: 100%;
  }
  .flexRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .field{
    width: 100%;
  }
  .fullWidth {
    width: 100%;
  }
  .halfWidth{
    width: 49%;
  }
  .quarterWidth{
    width: 25%;
  }
  .flexRow input{
    width: 100%;
  }
  .formInput{
    display: block;
    margin-bottom: 20px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
  }
  .formInput:focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
      rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
  }
.formSubmit{
    margin-top: 15px;
    padding: 7px 30px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 1px solid #ced4da;
    outline: 0;
    background-color: #00133f;
    color: #ddd;
    transition: opacity .2s;
}
.formSubmit:hover{
    opacity: .8;
}
.formSubmit:disabled{
  color: #aaa;
  border-color: #bbb;
  background-color: #ddd;
}
.FormError{
  color: #dc4545;
}

/* DEMO STYLES */
.demoButton{
    position: absolute;
    bottom: 5px;
    left: 5px;
}