@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    color: #00133f;
    animation: fade-in 2s ease;
    height: 100%;
}
.complete{
    color: #00b272;
}
.incomplete{
    color: #c73000;
}
.link{
    text-decoration: underline;
    color:cornflowerblue;
}
.dashboardButton{
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #00133f;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #00133f;
    transition: all .2s;
}
.dashboardButton:hover{
    background-color: #fff;
    color: #00133f;
}