html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageWrapper{
  padding-top: 100px;
  height: 100vh;
  padding-bottom: 50px;
}

/* Navigation Styles */
.navigation{
  position: absolute;
  top: 0;
  width: 100vw;
}
.navigationContainer{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.navigationContainer .logo{
  padding: 5px;
  float: left;
}
.navigationContainer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigationContainer li{
  display: inline;
}
.navigationContainer .navLink{
  float: right;
  padding: 5px;
  color: #00133f;
  font-weight: 600;
  font-size: 16px;
  transition: opacity .2s;
}
.navLink:hover{
  opacity: 70%;
}

